body {
	background: white;
}

#ads-container {
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}

#ads-inline {
	text-align: center;
	vertical-align: middle;
	padding-bottom: 10px;
}

#nax-list-ads-inline {
	text-align: center;
	vertical-align: middle;
	padding-bottom: 10px;

	border-top: 1px solid #8B8C8C;
}

#header-breadcrumb {
	text-align: center;
	background-color: #e5caf2;
	border-bottom: 1px solid #531c6e;
	color: black;
}

	#header-breadcrumb p {
		padding: 4px;
	}

#error-container {
	padding: 0px;
}
	
	#error-container p {
		color: red;
		text-align: center;
		margin: 5px;
	}

#progress-anim{
	text-align: center;
	vertical-align: middle;
	background: #ffffff;
	-webkit-transition: height 0.3s linear;
	overflow: hidden;
	
	border-bottom: 1px solid #8B8C8C;
}

	.progress-show { height: 35px; }
	.progress-hide { height: 0px; }

select {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

input {
	margin: 5px;
}

#btn-search-flight {
	margin-top: 10px;
}

.label {
	margin-top: 5px;
	margin-bottom: 2px;
	display: inline-block;
	padding: 0px;
}

.ui-button {
	margin: 0px;
	padding: 0px;
}

.navigation-container {
	width: 100%;
	background-color: #551d70;
	background-image: url('../../s40-theme/images/purple.png');
	background-repeat: repeat-x;
	background-position: left top;
	border-bottom: 1px solid #531c6e;
	color: white;
}
	.navigation-container .nav-item {
		width: 49%;
		display: inline-block;
	}
	
	.navigation-container .nav-item .top {
		margin-bottom: 2px;
	}

	.navigation-container .nav-item {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	
		.nav-item .one-line {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	
		.navigation-container .nav-item p {
			padding-left: 5px;
		}
	
	.nav-item-left {
		text-align: left;
		border-right: 1px solid #531c6e;
	}		
	
	.nav-item-right {
		text-align: right;
	}
	
	.nav-item-right-bordered {
		border-left: 1px solid #531c6e;
	}
	
.vertical-center {
	vertical-align: middle;
}

.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.list-entry {
	padding: 5px;
	border-top: 1px solid #8B8C8C;
	background-repeat: repeat-x;
	background-position: bottom left;
}

.list-icon { 
	padding: 0 5px; 
	width: 39px;	
}

.list-entry tr td p {
	margin: 2px;
}

.list-entry-bottom {
	border-bottom: 1px solid #8B8C8C;
}
	
.list-selected {
	border-right: 10px solid #531c6e;
}

.list-to-top {
	width: 100%;
	background-color: #551d70;
	background-image: url('../../s40-theme/images/purple.png');
	background-repeat: repeat-x;
	background-position: left top;
	font-size: medium;
	color: white;
	text-align: center;
	
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#flight-detail-display { padding: 5px; }

.flight-detail-item, .flight-detail-total {
	margin: 5px 0px 10px;
	padding-bottom: 5px;
	border: 1px solid #8B8C8C;
	background-image: url('../../s40-theme/images/white.png');
	background-repeat: repeat-x;
	background-position: left bottom;
}

.flight-detail-header, .flight-detail-footer {
	background-image: url('../../s40-theme/images/white.png');
	background-repeat: repeat-x;
	background-position: left bottom;
	border-bottom: 1px solid #8B8C8C;
	padding: 5px;
}

.flight-detail-footer {
	border-bottom: 0px;
	border-top: 1px solid #8B8C8C;
	margin-top: 5px;
}

.flight-detail-header p {
	margin-top: 5px;
}

.flight-detail-price {
	padding: 5px 5px 0px 2px;
	border-bottom: 1px dotted #8B8C8C;
}

.flight-detail-summary p {
	padding: 5px 5px 0px;
}

.flight-detail-total {
	padding: 5px;
	margin-bottom: 0px;
}

.button-square-small {
	width: 32px;
	height: 32px;
	margin-right: 3px;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #531c6e;
	display: block;
}

.swap-icon { background-image: url('../img/swap.png'); }
.calendar-icon { background-image: url('../img/cal.png'); }
.myrefresh-icon { background-image: url('../img/refresh.png'); }
.price-sort-icon { background-image: url('../img/idrswap.png'); }
.time-sort-icon { background-image: url('../img/timeswap.png'); }
.sms-icon { background-image: url('../img/sms.png'); }
.map-icon { background-image: url('../img/map.png'); }
.fb-icon { background-image: url('../img/fb.png'); border-color: #223761; }
.twitter-icon { background-image: url('../img/twitter.png'); border-color: #005474; }

.map-container { 
	margin-bottom: 5px; 
	border-bottom: 1px solid #8B8C8C;
}

.map-title-header {
	background-image: url('../../s40-theme/images/white.png');
	background-repeat: repeat-x;
	background-position: left bottom;
	border-bottom: 1px dotted #8B8C8C;
	border-top: 1px solid #8B8C8C;
	padding: 5px;
	text-align: center;	
}

.map-distance-container {
	border-bottom: 1px solid #8B8C8C;
	padding: 5px;
	text-align: center;
}

#btn-more-action {
	display: inline-block;
	width: 40px;
	height: 40px;
}

.purple-gradient-bg {
	background-color: #551d70;
    background-image: url(../../s40-theme/images/purple.png);
    background-repeat: repeat-x;
    background-position: left top;
    color: white;
}

#all-additional-container {
	padding: 8px;
}

#additional-menu {
	
}

	.additional-menu-item {
		font-weight: bold;
		height: 32px;
		border-top: 1px solid #531c6e;
	}
	
	.additional-menu-item p {
		padding-top: 7px;
		padding-bottom: 5px;
		padding-left: 33px;
		margin-left:3px;
		
		background-repeat: no-repeat;
	}
	
	.additional-menu-item p.cs { background-image: url('../img/cs.png'); }
	.additional-menu-item p.about { background-image: url('../img/info.png'); }
	
.additional-content-p {
	margin-bottom: 1px;	
}

.anim-height {
	-webkit-transition: height 0.3s linear;	
	height: 0px;
	overflow: hidden;
}
	.height-shown {
		height: 80px;
	}

	.height-menu-shown {
		height: 66px;
	}
	
#location-load {
	text-align: center;
	padding: 10px;
}