.ui-title {
	height: 40px;
	/*display: block;*/
	width:275px;
	vertical-align: top;
	padding: 5px 0px 0px 5px;
}
.container {
  	width: 232px;
  	height: 95px;
  	overflow: hidden;
  	border: solid;
}

.strip {
    width: 800px;
    -webkit-transition: margin-left 1.0s linear;
}

.im0 {
    margin-left: 0px;
}

.im1 {
    margin-left: -152px;
}

.im2 {
    margin-left: -304px;
}

.im3 {
    margin-left: -456px;
}    

.hlight{
 	font-size: small;
	margin-top: 10px;
}

.navi{
 	width: 65px;
	height: 30px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.mgin{
	margin-left: 5px;
}
.ui-tab-control {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #8B8C8C;
	
	width:320px;
}

.tab-content {
	width: 320px;
	overflow: hidden;
}

.tab-content-with-padding {
	width: 304;
	overflow: hidden;
}

.airport-combo-box {
	width: 230px;
}

.list-entry {
	width: 310px;
}

.list-selected {
	width: 300px;
}

.fill-parent {
	width: 310px;
}

.fill-detail {
	width: 300px;
}

.button-large {
	width: 304px;
}

.first-share-column {
	width: 225px;
}